.home_slider_container {
    background-color: white;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home_slider_container .middle {
    display: table-cell;
    vertical-align: middle;
}

.home_slider_container .middle .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.home_slider_container .middle .inner img {
    width: 50%;
    display: block;
    margin: auto;
}

.home_slider_container .middle .inner .mb-4 {
    text-align: center;
    color: #A8A8A8;
    font-size: 25px;
}

.logo-footer {
    width: 30%;
}

#social_media,
#clients,
#social_media_menu {
    display: none;
}

.join_button {
    background: #ff5c5c !important;
}

.main_nav ul li.active a,
.main_nav ul li:hover a {
    color: #ff5c5c !important;
}

.main_nav ul li::after {
    background: #ff5c5c !important;
}

.section_title h1 span {
    color: #ff5c5c !important;
}

.cta {
    background: #ff5c5c !important;
}

.benefit_icon {
    background: #ffbd4a !important;
}

.testimonials_overlay {
    background: rgba(168, 168, 168, 0.75);
}

.news_icon {
    background: #ff5c5c !important;
}

.news_icon::before {
    background: #ff5c5c !important;
}

.footer {
    border-top: solid 3px #ff5c5c;
}

.footer_contact_text a {
    text-decoration: none;
    position: relative;
    color: white;
}

.footer_contact_text a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    border-width: 0 0 1px;
    border-style: solid;
}